
.hero-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  flex-direction: row;
  align-items:unset;
  padding: 16px;
  
  position: relative;
  width: auto;
  height:auto;
  
  box-sizing: border-box;
  border-radius: 5px;
  }



  .logo{
    align-self: center;
    width: 65px;
    height: 73px;
    margin: 40px 46.5%;

    background: url(./assets/logo/logo.svg);
  }
  .title-sb{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
  .title-wrapper{
    position: relative;
    align-content: center;
    width: 50%;
    margin-left: 40px;
  }
  .hero-title{
    
position: absolute;

left: 0px;
top: 0px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 42px;


letter-spacing: 0.725381px;

color: #FFFFFF;


flex: none;
order: 0;

  }
  .sb-wrapper{
    position:relative;
    display: flex;
    flex-direction: row;
    width: 360px;
    height: 40px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
  }
  .search-logo{
    position: absolute;
    background: url(./assets/search/search.svg);
    width: 20px; 
    height:20px;
    order: 0;
    top: 20%;
    left: 1.5%;
  }
.search-bar{
   display: flex;
flex-direction:row-reverse;
align-items:flex-end;
padding: 8px;
border-style: none;
position: absolute;
width: 280px;
top: 4px;
left: 3%;
font: Poppins;
font-size: 15px;
color:rgba(255, 255, 255, 0.3);

background-color: rgba(255, 255, 255, 0);




flex: none;
order: 1;
flex-grow: 0;
margin: 0px 24px;

}

/*Custom breakpoints to increase app responsiveness*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}